[core]
	ignorecase = false
	editor = vi
	hooksPath = .githooks
	untrackedcache = true
	fsmonitor = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = *
[user]
        name = David Ly
        email = 22302001+lydavid@users.noreply.github.com
        signingkey = 3E91D9F48ECE7814
[commit]
        gpgsign = true
[rerere]
	enabled = true
[push]
	default = current
[pull]
	default = current
